<div class="row mt-5 g-5">
  <h1 class="fade-up">Présentation</h1>
  <div class="col-md-6 pe-5 photo-container content">
    <img src="https://placehold.co/600x400" alt="Placeholder" class="fade-up">
  </div>
  <div class="col-md-6 ps-9 pe-5 photo-text content">
    <p class="fade-up">
      Je m'appelle Robin Milla, développeur et concepteur d'applications, avec une solide formation et des compétences
      polyvalentes en développement fullstack.
      Diplômé d'un titre proffessionelle de concepteur/developpeur d'application obtenue a DIGINAMIC, j'ai acquis une
      expertise dans la création d'interfaces utilisateur, la gestion de bases de données relationnelles et le
      développement avancé en front-end et back-end, notamment avec Angular et Python. Mon parcours inclut également une
      Licence professionnelle en réseaux et télécomunication.
    </p>
    <p class="fade-up">
      Professionnellement, j'ai eu l'occasion de réaliser plusieurs projets, notamment dans le cadre de stages, où j'ai
      mis en œuvre des méthodologies telles que SCRUM pour travailler en équipe. Passionné par l'autoformation, j'ai
      enrichi mon savoir-faire via des plateformes comme CodeAcademy, me permettant de maîtriser diverses technologies
      telles que HTML, CSS, Bootstrap, JavaScript, et bien d'autres.
    </p>
    <p class="fade-up">
      Avec une forte capacité d'adaptation, un bon esprit d'équipe, et un goût marqué pour les nouvelles technologies,
      je suis prêt à relever de nouveaux défis dans le domaine du développement.
    </p>
  </div>
</div>
<div class="row mt-5 g-5">
  <h1 class="fade-up">Projets</h1>
  <div class="col-md-6 pe-5 content">
    <div class="container mt-5">
      <h3 class="fade-up">Site web de gestion de campings</h3>
      <p class="fade-up">Dans le cadre de notre stage, nous avons travaillé sur un projet, consistant à développer un site web
        permettant de gérer plusieurs campings ainsi que l’émissions de CO2 de leur client selon leur mode de transport.
        La back-end est en python tandis que le front-end a été réalisé en angular. (Pour voir le projet dans son
        intégralité vous devez faire tourner le back-end en python ainsi que le front-end.)</p>
      <div class="mt-2 fade-up"><a class="btn btn-primary" href="https://github.com/Rmilla/projetcampingFE" role="button">Github Front</a></div>
      <div class="mt-2 fade-up"><a class="btn btn-primary" href="https://github.com/Rmilla/Camping" role="button">Github Back</a></div>
    </div>
  </div>
</div>