<app-navbar></app-navbar>


<section class="p-3 mb-2 bg-white d-flex align-items-center justify-content-center parallax" style="height: 100vh;">
    <div class="container">
        <div class="row justify-content-center px-4 py-5 my-5">

            <h1 class="mx-auto text-center">ROBIN MILLA</h1>
            <h1 class="mx-auto text-center">SOFTWARE CONCEPTOR AND DEVELOPER JUNIOR</h1>
        </div>
    </div>
</section>

<div>
    <app-content></app-content>
</div>

<div class="row"> 
    <div class="col-md-12 mt-5 pe-5">
        <app-caroussel></app-caroussel>
    </div>
</div>

<div class="row">
    <app-contact-form></app-contact-form>
</div>

