<h1 class="fade-up">Compétences</h1>
<owl-carousel-o [options]="customOptions" (initialized)="onCarouselInitialized()">
  <ng-template carouselSlide><img src="https://picsum.photos/100?random=1"></ng-template>  
  <ng-template carouselSlide><img src="https://picsum.photos/100?random=2"></ng-template>  
  <ng-template carouselSlide><img src="https://picsum.photos/100?random=3"></ng-template>
  <ng-template carouselSlide><img src="https://picsum.photos/100?random=4"></ng-template> 
</owl-carousel-o>